node_modules/
frontend/node_modules/
frontend/dist/
dist/

.env
.env.*
.env.local
.env.production
!.env.example

*.log
.DS_Store
.vscode/
*.locS
growth_test.txt

backend/
data/
codepo_gb/
gb-postcodes/
gb-postcodes-*.tar.*
gb-postcodes-v5.tar.bz2
yearsold.csv
outputs/
*.csv
data/
PPD/
*.zip
*.7z
*.tar
*.tar.gz
*.tar.bz2

*.bat
subbb/
vendor/
codepo_gb.zip